*.iml
.gradle
/local.properties
local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
google-services.json
app/google-services.json
url_google_cloud.txt
SHA1_DEBUG.txt
CONFIGURACION_ENTORNO_IA.txt
*.apk
*.ipa

